In [207]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
import pyspark.sql.functions as f
from pyspark.sql.functions import col
from pyspark.sql.functions import desc

2. Loading Data

In [120]:
# a. Load Data and Show Schema
textName = sc.textFile("D:/school/Masters Data Science/Spring 2020/DSC650_Big Data/baby-names/baby-names/baby-names.csv")

In [122]:
# a. Load Data and Show Schema
textName.take(5)

['state,sex,year,name,count',
 'AK,F,1910,Mary,14',
 'AK,F,1910,Annie,12',
 'AK,F,1910,Anna,10',
 'AK,F,1910,Margaret,8']

In [217]:
# a. Load Data and Show Schema
def Func(lines):
    lines = lines.split("\t")
    return lines
rddName = textName.map(Func)

In [95]:
# a. Load Data and Show Schema
header = df.first()
header

Row(_1='state,sex,year,name,count')

In [96]:
# a. Load Data and Show Schema
data = rddName.filter(lambda row : row != header).toDF(header)
data.show()

+-------------------------+
|state,sex,year,name,count|
+-------------------------+
|     state,sex,year,na...|
|        AK,F,1910,Mary,14|
|       AK,F,1910,Annie,12|
|        AK,F,1910,Anna,10|
|     AK,F,1910,Margaret,8|
|        AK,F,1910,Helen,7|
|        AK,F,1910,Elsie,6|
|         AK,F,1910,Lucy,6|
|      AK,F,1910,Dorothy,5|
|        AK,F,1911,Mary,12|
|     AK,F,1911,Margaret,7|
|         AK,F,1911,Ruth,7|
|        AK,F,1911,Annie,6|
|     AK,F,1911,Elizabe...|
|        AK,F,1911,Helen,6|
|         AK,F,1912,Mary,9|
|        AK,F,1912,Elsie,8|
|        AK,F,1912,Agnes,7|
|         AK,F,1912,Anna,7|
|        AK,F,1912,Helen,7|
+-------------------------+
only showing top 20 rows

In [163]:
# a. Load Data and Show Schema
data.printSchema()

root
 |-- state,sex,year,name,count: string (nullable = true)

In [4]:
# b. Filtering and Counting
textName.count()

5933562

In [161]:
# b. Filtering and Counting
JName = textName.filter(lambda line: "John" in line)
JName.take(5)

['AK,M,1910,John,8',
 'AK,M,1911,John,15',
 'AK,M,1912,John,16',
 'AK,M,1913,John,19',
 'AK,M,1914,John,17']

In [105]:
# b. Filtering and Counting
JName.count()

21785

3. Working with DataFrames

In [165]:
# a. Load Data and Show Schema
name = sqlContext.read.csv("D:/school/Masters Data Science/Spring 2020/DSC650_Big Data/baby-names/baby-names/baby-names.csv",header=True)

In [39]:
# a. Load Data and Show Schema
name.printSchema()

root
 |-- state: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- year: string (nullable = true)
 |-- name: string (nullable = true)
 |-- count: string (nullable = true)

In [166]:
name.show(20)

+-----+---+----+---------+-----+
|state|sex|year|     name|count|
+-----+---+----+---------+-----+
|   AK|  F|1910|     Mary|   14|
|   AK|  F|1910|    Annie|   12|
|   AK|  F|1910|     Anna|   10|
|   AK|  F|1910| Margaret|    8|
|   AK|  F|1910|    Helen|    7|
|   AK|  F|1910|    Elsie|    6|
|   AK|  F|1910|     Lucy|    6|
|   AK|  F|1910|  Dorothy|    5|
|   AK|  F|1911|     Mary|   12|
|   AK|  F|1911| Margaret|    7|
|   AK|  F|1911|     Ruth|    7|
|   AK|  F|1911|    Annie|    6|
|   AK|  F|1911|Elizabeth|    6|
|   AK|  F|1911|    Helen|    6|
|   AK|  F|1912|     Mary|    9|
|   AK|  F|1912|    Elsie|    8|
|   AK|  F|1912|    Agnes|    7|
|   AK|  F|1912|     Anna|    7|
|   AK|  F|1912|    Helen|    7|
|   AK|  F|1912|   Louise|    7|
+-----+---+----+---------+-----+
only showing top 20 rows

In [40]:
name.count()

5933561

In [169]:
# b. Filtering and Counting
filtName = name.where(f.col("name").isin({"John"}))
filtName.show()

+-----+---+----+----+-----+
|state|sex|year|name|count|
+-----+---+----+----+-----+
|   AK|  M|1910|John|    8|
|   AK|  M|1911|John|   15|
|   AK|  M|1912|John|   16|
|   AK|  M|1913|John|   19|
|   AK|  M|1914|John|   17|
|   AK|  M|1915|John|   21|
|   AK|  M|1916|John|   25|
|   AK|  M|1917|John|   26|
|   AK|  M|1918|John|   23|
|   AK|  M|1919|John|   24|
|   AK|  M|1920|John|   21|
|   AK|  M|1921|John|   35|
|   AK|  M|1922|John|   21|
|   AK|  M|1923|John|   27|
|   AK|  M|1924|John|   36|
|   AK|  M|1925|John|   33|
|   AK|  M|1926|John|   26|
|   AK|  M|1927|John|   22|
|   AK|  M|1928|John|   28|
|   AK|  M|1929|John|   22|
+-----+---+----+----+-----+
only showing top 20 rows

In [46]:
# b. Filtering and Counting
filtName.count()

7018

In [212]:
# c. Sorting and Limits
bigFilt = name.where(f.col("sex").isin({"M"})).where(f.col("state").isin({"NE"})).where(f.col("year").isin({1980}))
bigFilt.sort(desc("count")).show(10)

+-----+---+----+----------+-----+
|state|sex|year|      name|count|
+-----+---+----+----------+-----+
|   NE|  M|1980|   Patrick|   99|
|   NE|  M|1980|     Jesse|   97|
|   NE|  M|1980|      Kyle|   93|
|   NE|  M|1980|   Bradley|   90|
|   NE|  M|1980|     Caleb|    9|
|   NE|  M|1980|    Johnny|    9|
|   NE|  M|1980|     Jerod|    9|
|   NE|  M|1980|     Billy|    9|
|   NE|  M|1980|Kristopher|    9|
|   NE|  M|1980|     Logan|    9|
+-----+---+----+----------+-----+
only showing top 10 rows

In [216]:
# c. Sorting and Limits
bigFilt.orderBy(bigFilt['count'].desc()).show(10)

+-----+---+----+----------+-----+
|state|sex|year|      name|count|
+-----+---+----+----------+-----+
|   NE|  M|1980|   Patrick|   99|
|   NE|  M|1980|     Jesse|   97|
|   NE|  M|1980|      Kyle|   93|
|   NE|  M|1980|   Bradley|   90|
|   NE|  M|1980|     Caleb|    9|
|   NE|  M|1980|    Johnny|    9|
|   NE|  M|1980|     Jerod|    9|
|   NE|  M|1980|     Billy|    9|
|   NE|  M|1980|Kristopher|    9|
|   NE|  M|1980|     Logan|    9|
+-----+---+----+----------+-----+
only showing top 10 rows